<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        color="medium"
        (click)="cancel()"
        class="plausible-event-name=Cancel+Submission+From+Address"
        >Cancel</ion-button
      >
    </ion-buttons>
    <ion-title>Which Address is best?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    *ngFor="let address of addresses"
    (click)="setAddress(address)"
    size="regular"
    expand="block"
    [innerHTML]="address"
    class="plausible-event-name=Submission+Choose+Address"
  ></ion-button>
</ion-content>
