.login-logo {
  padding: 20px 0;
  text-align: center;
}

.login-logo img {
  max-height: 220px;
  padding-left: 2em;
  padding-right: 2em;
}

@media only screen and (max-width: 600px) {
  .login-logo img {
    max-height: 150px;
  }
}

.list {
  margin-bottom: 0;
}
