{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="form-header">
    {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}
    <p>
        {% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
</div>
<div class="form-container">
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <div class="button-holder">
                <button class="submit-button" type="submit">
                {% trans "Sign In" %}
                </button>
            </div>
            {% url 'email_login' as email_login_url %}
            <p style="text-align: center;"><i class='bx bxs-envelope bx-xs'></i><i class='bx bxs-lock-open bx-xs'></i> {% blocktrans %}You can also login by having a link sent to your email <a href="{{ email_login_url }}">here</a>.{% endblocktrans %}</p>
        {% endslot %}
    {% endelement %}
    {% comment %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
    {% endcomment %}
</div>
<br>
<br>
{% endblock content %}
