{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<h1>{% if past %}Past {% endif %}Events</h1>
{% if past %}
{% regroup object_list|dictsortreversed:"start_datetime" by start_datetime|date:"F Y" as events_by_month %}
{% else %}
{% regroup object_list|dictsort:"start_datetime" by start_datetime|date:"F Y" as events_by_month %}
{% endif %}
{% for month, events in events_by_month %}
  <div class="event-month">
    <div class="event-month-month">{{ month }}</div>
    <div class="event-month-divider"></div>
  </div>
  {% for event in events %}
  <div class="event-event">
    <div class="event-header">
      <div class="event-header-box">
        <div class="event-header-box-day-of-week">
          <span class="">{{ event.start_datetime|date:"D"|upper }}</span>
        </div>
        <div class="event-header-box-day-of-month">
          <span class="">{{ event.start_datetime|date:"j" }}</span>
        </div>
      </div>
    </div >
    <div class="event-details">
      <div class="event-date">{{ event.start_datetime|date:"F j @ g:i a" }}{% if event.end_datetime %} - {{ event.end_datetime|date:"g:i a" }}{% endif %}</div>
      <div class="event-title"><a href="{% url 'event_detail' event.slug %}">{{ event.title }}</a></div>
      <div class="event-location"><i class="fa-solid fa-map-location-dot"></i> {{ event.location }}</div>
      {% if event.cover %}
      <div class="event-cover"><img src="{{ event.cover }}"></div>
      {% endif %}
      <div class="event-description">{{ event.description|truncatechars:"300"|markdownify }}</div>
    </div>
  </div>
  {% endfor %}
{% endfor %}

<div class="pagination">
  {% if past %}
  <div class="pagination-nav previous">
    {% if page_obj.has_next %}
    <span><a href="?page={{ page_obj.next_page_number }}"><i class='fa-solid fa-angle-left'></i> More Events</a></span>
    {% endif %}
  </div>
  <div class="pagination-nav next">
    {% if page_obj.has_previous %}
    <span><a href="?page={{ page_obj.previous_page_number }}">More Events <i class='fa-solid fa-angle-right'></i></a></span>
    {% endif %}
  </div>
  <div style="width: 100%; text-align: center;"><span><a href="{% url 'events_list' %}">Upcoming Events <i class='fa-solid fa-angles-right'></i></a></span></div>
  {% else %}
  <div class="pagination-nav previous">
    {% if page_obj.has_previous %}
    <span><a href="?page=1"><i class='fa-solid fa-angles-left'></i> First</a></span>
    <span><a href="?page={{ page_obj.previous_page_number }}"><i class='fa-solid fa-angle-left'></i> Previous Events</a></span>
    {% else %}
    <span><a href="{% url 'events_past_list' %}"><i class='fa-solid fa-angles-left'></i> Past Events</a></span>
    {% endif %}
  </div>
  <div class="pagination-nav next">
    {% if page_obj.has_next %}
    <span><a href="?page={{ page_obj.next_page_number }}">Next Events <i class='fa-solid fa-angle-right'></i></a></span>
    <span><a href="?page={{ page_obj.paginator.num_pages }}">Last <i class='fa-solid fa-angles-right'></i></a></span>
    {% endif %}
  </div>
  {% endif %}
</div>

<hr>

<div class="calendar-subscribe" style="text-align: center;">
  <div>Subscribe to calendar:</div>
  <span class="calendar-share"><a target="_blank" href="https://www.google.com/calendar/render?cid={{ feed_url_encoded }}"><i class="fa-brands fa-google"></i> Google</a></span>
  <span class="calendar-share"><a target="_blank" href="https://outlook.live.com/owa?path=/calendar/action/compose&rru=addsubscription&url={{ feed_url_encoded }}&name=Philly+Bike+Action"><i class="fa-brands fa-microsoft"></i> Outlook 365</a></span>
  <span class="calendar-share"><a target="_blank" href="https://outlook.office.com/owa?path=/calendar/action/compose&rru=addsubscription&url={{ feed_url_encoded }}&name=Philly+Bike+Action"><i class="fa-brands fa-microsoft"></i> Outlook Live</a></span>
  <span class="calendar-share"><a target="_blank" href="{{ feed_url }}"><i class="fa-brands fa-apple"></i> Apple</a></span>
</div>
{% endblock %}
