{% load i18n %}
  {% if first_load %}
  <div style="position: relative; width: 100%;">
    <small style="position: absolute; left: 0;">Updating...</small>
  </div>
  {% endif %}
  {% with request.user.djstripe_customers.first as customer %}
  {% if customer %}
  {% if customer.charges.all %}
  <h3>{% translate "Recent Donations" %}</h3>
  <div class="table-container">
    <table>
      <tr>
        <th>{% translate "Amount" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Kind" %}</th>
        <th>{% translate "Source" %}</th>
        <th>{% translate "Date" %}</th>
      </tr>
      {% for charge in customer.charges.all|dictsortreversed:"created"|slice:":5" %}
      <tr>
        <td>
          ${{ charge.amount }}
        </td>
        <td>
          {% if charge.status == "succeeded" %}<i style="color: rgb(131, 189, 86);" class="fa-solid fa-circle-check"></i>
          {% elif charge.status == "failed" %}<i style="color: #d8107d;" class="fa-solid fa-circle-xmark"></i>
          {% else %}{{ charge.status }}
          {% endif %}
        </td>
        <td>
          {% if charge.invoice %}{% translate "recurring" %}{% else %}{% translate "one-time" %}{% endif %}
        </td>
        <td>
          {{ charge.payment_method.card.display_brand }} {{ charge.payment_method.card.last4 }}
        </td>
        <td>
          {{ charge.created|date }}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% if customer.charges.all|dictsortreversed:"created"|slice:"5:" %}
    {% url 'donation_history' as donation_history_url %}
    <p>{% blocktranslate %}View full donation history <a href="{{ donation_history_url }}">here</a>.{% endblocktranslate %}</p>
    {% endif %}
  </div>
  {% endif %}
  <h3>{% translate "Subscriptions" %}</h3>
  {% if customer.subscriptions.all %}
  <div class="table-container">
    <table>
      <tr>
        <th>{% translate "Subscription" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Actions" %}</th>
      </tr>
      {% for subscription in customer.subscriptions.all %}
      <tr>
        <td>{{ subscription.plan }}</td>
        <td>{{ subscription.status }}</td>
        <td>
          {% if subscription.status == "active" %}
          <a class="smol-button" href="{% url 'change_recurring_donation' subscription_id=subscription.id %}">{% translate "change" %}</a>
          <a class="smol-button" href="{% url 'cancel_recurring_donation' subscription_id=subscription.id %}">{% translate "cancel" %}</a>
          {% elif subscription.status == "past_due" %}
            {% if customer.payment_methods.all %}
            <a class="smol-button" href="{% url 'create_setup_session' %}">{% translate "update card" %}</a>
            {% else %}
            <a class="smol-button" href="{% url 'create_setup_session' %}">{% translate "add card" %}</a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <p>{% translate "<b>Note:</b> changing from a monthly to yearly, or yearly to monthly donation will <i>immediately</i> charge you the new amount." %}</p>
  <p>{% translate "Changing the amount you donate alone will charge you the new amount the next time you are charged." %}<p>
  {% else %}
  <div class="button-holder">
    <a class="submit-button" href="{% url 'setup_recurring_donation' %}">{% translate "Setup a recurring donation" %}</a>
  </div>
  {% endif %}
  {% if customer.payment_methods.all or customer.subscriptions.all %}
  <h3>{% translate "Stored Payment Methods" %}</h3>
  <div class="table-container">
    <table>
      <tr>
        <th>{% translate "Method" %}</th>
        <th>{% translate "Details" %}</th>
        <th>{% translate "Default" %}</th>
        <th>{% translate "Actions" %}</th>
      </tr>
      {% for method in customer.payment_methods.all %}
      <tr>
        <td>{{ method.type }}</td>
        <td>{{ method.card.display_brand }} - {{ method.card.last4 }}</td>
        <td>
          {% if customer.default_payment_method.id == method.id %}
            *
          {% endif %}
        </td>
        <td>
          {% if customer.default_payment_method.id == method.id %}
            {% if not customer.has_any_active_subscription %}
              <a class="smol-button" href="{% url 'remove_payment_method' payment_method_id=method.id %}">{% translate "remove" %}</a>
            {% endif %}
            <small></small>
          {% else %}
            <a class="smol-button" href="{% url 'make_default_payment_method' payment_method_id=method.id %}">{% translate "make default" %}</a>
            <a class="smol-button" href="{% url 'remove_payment_method' payment_method_id=method.id %}">{% translate "remove" %}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <p><a href="{% url 'create_setup_session' %}">{% translate "Add new payment method" %}</a></p>
  {% endif %}
  {% else %}
  <div class="button-holder">
    <p><a class="submit-button" href="{% url 'setup_recurring_donation' %}">{% translate "Setup a recurring donation" %}</a></p>
  </div>
  {% endif %}
  {% endwith %}
