{% load i18n %}
  {% url 'profile_update' as profile_update_url %}
  {% if first_load %}
  <div style="position: relative; width: 100%;">
    <small style="position: absolute; right: 50%; top: -1.5em;">Updating...</small>
  </div>
  {% endif %}
{% if profile.location %}
  <div class="table-container">
    <table>
      <tr>
        <th>Your District</th>
      </tr>
      <tr><td>{{ profile.district }}</td></tr>
    </table>
    {% if profile.rcos %}
    <br>
    <table>
      <tr>
        <th>Your RCOs</th>
      </tr>
      {% for rco in profile.rcos %}
      <tr><td>{{ rco }}</td></tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if profile.other_rcos %}
    <br>
    <table>
      <tr>
        <th>Other entities registered as RCOs</th>
      </tr>
      {% for rco in profile.other_rcos %}
      <tr><td>{{ rco }} ({{ rco.properties.org_type }})</td></tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if profile.ward_rcos %}
    <br>
    <table>
      <tr>
        <th>Partisan political wards registered as RCOs</th>
      </tr>
      {% for rco in profile.ward_rcos %}
      <tr><td>{{ rco }} ({{ rco.properties.org_type }})</td></tr>
      {% endfor %}
    </table>
    {% endif %}

  </div>
  <p style="font-size: smaller; color: darkened;">Something not look quite right? Make sure your address is correct in your <a href="{{ profile_update_url }}">Profile!</a>!</p>
{% else %}
  {% if profile.street_address %}
    <p>We weren't able to find your address. Make sure your address and zip code are correct in your <a href="{{ profile_update_url }}">Profile</a>, including all address parts like <code>1501 E Passyunk Ave</code>.</p>
  {% else %}
    <p>We don't have a location for you. Make sure you have added your address to your <a href="{{ profile_update_url }}">Profile</a></p>
  {% endif %}
{% endif %}
