{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% if request.user.is_authenticated %}
<p>{% blocktranslate %}You are already logged in as {{ request.user.email }}.{% endblocktranslate %}</p>
{% endif %}
<div class="form-header">
<h1>Sign in via email</h1>
</div>
<div class="form-container">
  <form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    <p>
      {{ form }}
    </p>
    <div class="button-holder">
      <input class="submit-button" type="submit" value="{% translate "Send log in link" %}">
    </div>
  </form>
</div>
{% endblock %}
