{% load humanize i18n %}

{% if petition.show_submissions and petition.signatures.all %}
<div class="signatures">
  <h2>{{ petition.signatures.count }} Submissions{% if petition.campaign.status == "active" %} So Far!{% endif %}</h2>
  {% if petition.signature_goal %}
  <div class="progress-bar-container">
    <div class="progress-bar" style="height: 2em; width: {{ petition.progress }}%">
    </div>
    <span class="progress-goal">{{ petition.signature_goal }}</span>
  </div>
  {% endif %}
  {% if petition.signatures_with_comment %}
  <h3>{% blocktrans %}{{ petition.comments }} Comments{% endblocktrans %}</h3>
  <p>{% translate "Recent comments..." %}</p>
  {% for signature in petition.distinct_signatures_with_comment|dictsortreversed:"created_at" %}
  {% if signature.comment and signature.featured and signature.visible %}
  <div class="signature-card feature featuredd">
    <blockquote>
      <p>"{{ signature.comment }}"</p>
      <footer>-{{ signature.first_name }} {{ signature.last_name|make_list|slice:':1'|join:'' }}. <i>{{ signature.created_at|naturaltime }}</i></footer>
    </blockquote>
  </div>
  {% endif %}
  {% endfor %}
  {% for signature in petition.distinct_signatures_with_comment.all|dictsortreversed:"created_at" %}
  {% if signature.comment and not signature.featured and signature.visible %}
  <div class="signature-card">
    <blockquote>
      <p>"{{ signature.comment }}"</p>
      <footer>-{{ signature.first_name }} {{ signature.last_name|make_list|slice:':1'|join:'' }}. <i>{{ signature.created_at|naturaltime }}</i></footer>
    </blockquote>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>
{% endif %}
