{% extends "base.html" %}
{% load wagtailuserbar %}

{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-cmspage{% endblock %}

{% block content %}
  {% wagtailuserbar %}
  <div class="cms-content">
    <div class="cms-title">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="cms-body">
      <div class="content-container">
        <ul>
        {% for page in self.get_children %}
          <li><a href="{{page.url}}">{{page.title}}</a>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
